body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header, .menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000; /* Para manter o cabeçalho sobre os outros elementos */
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem; /* Espaço para o cabeçalho fixo */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding-top: 4rem; /* Espaço para o cabeçalho fixo */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
